<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" onclick="window.location.href='/'">Betterhop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" onclick="window.location.href='/interviews'">Interview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" onclick="window.location.href='/job-tracker'">Tracker</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link " aria-current="page">About</a>      
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/yinghuitan/" class="nav-link " aria-current="page">Linkedin</a>      
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>
