<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>YING HUI TAN</h1>
    <h5>
        BUSINESS ANALYST,
    </h5><br>
    <h5>GOVTECH (IMDA)</h5>
    <p>This year I volunteered at Govtech’s Girls in Tech program (as a mentor), and got inspired to create this website as some sort of career hunt power tool from the interactions with the ambitious young ladies.</p>
    <p>I guess this is also a loving homage to my first big girl job in Shanghai, China with an AI startup (specializing in recruitment solutions)</p>
    <p>Still in search of my “ikigai”.</p>
</body>
</html>